//==================================
//colors
//==================================
$black: #000;
$white: #fff;
$color_black_haze_approx: #f6f7f8;
$mercury: #e5e5e5;
$color_wild_sand_approx: #f5f5f5;
//Navbar
$navbarBackgroundColor:#6739b7;
$navbarColor:$white;

//==================================
//Font size
//==================================
$fontsize-small:12px;
$fontsize-medium:14px;
$fontsize-large:16px;

//==================================
//Font Weight
//==================================
$fontWeight-light:300;
$fontWeight-regular:400;
$fontWeight-bold:500;

